* {
	margin: 0;
}
.helvetica-neue-font {
	font-family: 'Helvetica Neue' !important;
}
.calc-button-text {
	font-size: 1.9em !important;
	font-weight: 300 !important;
}
.main-cont {
}
.calc-row-each {
	background-color: rgb(223, 219, 219);
	cursor: pointer;
}
.calc-each-button-cont:hover {
	background-color: rgb(221, 155, 155);
}
.calc-each-button-cont {
	border: 1px solid rgb(255, 255, 255);
}

.screen-cont {
	height: 50%;
	width: 100%;
}
.calc-cont {
	height: 40%;
}

@media only screen and (min-width: 640px) {
	.screen-cont {
		height: 45%;
	}
	.calc-cont {
		height: 55%;
	}
}

.results {
	border: 1px solid rgb(216, 213, 213);
	border-radius: 5px;
	padding: 20px;
}
.history-cont {
	height: 30vh;
	overflow: scroll;
}
.equation {
	overflow: scroll;
}
